.content{
  width: 100%;

  .title{
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 8px;
    cursor: pointer;
  }

  .subtitle{
    font-size: 1.125rem;
    color:#BBBBBB;
    margin-bottom: 25px;
    cursor: pointer;
  }

  .footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    div{
      display: flex;

      p{
        font-size: 0.875rem;
        color:#BBBBBB;
        margin-left: 10.5px;
      }
    }

    div:last-child{
      margin-left: 28px;
    }
  }

  & + .content {
    margin-top: 50px;
  }
}

.loadMore{
  margin-top: 55px;
  padding: 10px 10px 10px 0;
  cursor: pointer;

  p{
    font-size: 1.125rem;
    font-weight: 600;
    color: #FF57B2;
    transition: all 0.2s;

    &:hover{
      filter: brightness(0.8);
    }
  }
}

